# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change-me

# MongoDB
MONGO_URI=mongodb://localhost:27017

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Neo4j
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=change-me

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=pasantias
RABBITMQ_PASSWORD=change-me

# JWT
JWT_SECRET=change-me-generate-a-strong-random-64-char-secret
CORS_ALLOWED_ORIGINS=http://localhost:5173

# Supabase
VITE_SUPABASE_URL=https://fvflivypuybajxbrqjwm.supabase.co
VITE_SUPABASE_ANON_KEY=tu_anon_key_aqui

# n8n
N8N_WEBHOOK_URL=http://localhost:5678/webhook/document-generated

# gRPC (comunicación inter-servicio para user-service)
USER_SERVICE_GRPC_HOST=localhost
USER_SERVICE_GRPC_PORT=9083

# MQTT Broker (Mosquitto)
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=notifuser
MQTT_PASSWORD=change-me
WEBSOCKET_ALLOWED_ORIGINS=http://localhost:5173

# AWS S3 (usado por document-service)
S3_BUCKET_NAME=pasantias-documents-local
AWS_ACCESS_KEY_ID=tu_aws_key_id
AWS_SECRET_ACCESS_KEY=tu_aws_secret_key
AWS_SESSION_TOKEN=tu_aws_session_token_si_aplica
