# Archivos ignorados 
# Ignorar dependencias locales de Terraform
.terraform/
*.tfstate
*.tfstate.backup
.agent/

# Node.js
node_modules/

# Turborepo
.turbo/

# Java / Maven
**/target/
*.db

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/
env/
.env

