# Archivos ignorados 
# Ignorar dependencias locales de Terraform
.terraform/
*.tfstate
*.tfstate.backup
.agent/

# Node.js
node_modules/

# Turborepo
.turbo/

# Java / Maven
**/target/
*.db

# OS
.DS_Store
Thumbs.db
